.about {
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 1024px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 426px) {
  .about > .collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
