@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500&display=swap");

.host-info {
  display: flex;
  justify-content: space-between;
}

.fiche-logement {
  padding-left: 50px;
  padding-right: 50px;
}

/* Title & Tag */
.title {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 50px;
  color: #ff6060;
  margin-bottom: 20px;
}

.title h1 {
  margin: 0;
}

.title h3 {
  font-size: 14px;
  margin: 0;
}

/* Host & Rate */

.host {
  display: flex;
  align-items: center;
}

.host-name {
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-size: 16px;
  line-height: 26px;
  width: 93px;
  height: 52px;
}

.host img {
  border-radius: 50%;
  margin-left: 5px;
  object-fit: cover;
  width: 64px;
}

.rating {
  margin-top: 50px;
}

/* Description & Equipment */

.description-equipment {
  display: flex;
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-size: 18px;
  line-height: 26px;
  margin-top: 35px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.description {
  width: 50%;
  padding: 10px;
  background: #f7f7f7;
}

.description-text {
  margin-top: 10px;
}

.equipments {
  width: 30%;
  padding: 10px;
  background: #f7f7f7;
}

.equipments-text {
  list-style: none;
  margin-top: 10px;
}

@media only screen and (max-width: 1199px) {
  .description-equipment {
    display: flex;
    flex-direction: column;
  }

  .host-info {
    flex-direction: column;
  }

  .title {
    font-size: 12px;
  }

  .host-rating {
    display: flex;
  }

  .description {
    width: 100%;
    margin-bottom: 20px;
  }

  .equipments {
    width: 100%;
  }
}
