@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500&display=swap");

.section-container {
  padding-left: 50px;
  padding-right: 50px;
}

.logement-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 20px;
  padding: 50px;
}

.card-logement {
  border-radius: 10px;
  height: 340px;
  width: 26%;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

.card-logement img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-shadow {
  background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.card-logement-title {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  line-height: 26px;
}

.card-logement:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Version tablette */
@media only screen and (max-width: 1199px) {
  .logement-container {
    gap: 50px;
    padding: 50px;
  }

  .card-logement {
    margin: 0;
    height: 200px;
    width: 27%;
  }

  .card-logement-title {
    font-size: 15px;
  }
}

/* Version mobile */
@media only screen and (max-width: 767px) {
  .card-logement {
    width: 100%;
    margin: 0;
    height: 255px;
  }

  .card-logement-title {
    font-size: 18px;
  }

  .section-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logement-container {
    background-color: transparent;
    row-gap: 20px;
    padding: 0;
  }
}
