@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500&display=swap");

.logement-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 60px;
  padding: 50px;
}

.card-logement {
  border-radius: 10px;
  height: 340px;
  width: 30%;
  overflow: hidden;
  position: relative;
}

.card-logement img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-shadow {
  background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.card-logement-title {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  line-height: 26px;
  width: 40%;
  height: 52px;
}

.card-logement:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1200px) {
  .logement-container {
    width: 100%;
    padding: 10px;
  }

  .card-logement {
    margin: 10px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .card-logement {
    margin: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .card-logement {
    margin: 10px;
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 375px) {
  .card-logement {
    justify-content: center;
  }
}
