@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500&display=swap");

.collapse {
  border-radius: 5px;
  margin-bottom: 35px;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  padding-left: 100px;
  padding-right: 100px;
}

.header-collapse {
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}

.title-collapse {
  color: #ffffff;
  margin: 5px 10px;
  font-size: 24px;
}

.arrow-collapse {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  width: 100%;
}
.arrow-collapse:hover {
  cursor: pointer;
}

.arrow-collapse.true {
  justify-content: start;
  transform: rotate(-180deg);
}

.description-collapse {
  background-color: #f6f6f6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ff6060;
  font-size: 22px;
  height: 75%;
  min-height: 100px;
  padding: 25px 10px 10px 10px;
}

.equipments-list {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .collapse {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title-collapse {
    font-size: 20px;
  }

  .description-collapse {
    font-size: 16px;
  }
}

@media only screen and (max-width: 426px) {
  .title-collapse {
    font-size: 18px;
  }

  .collapse {
    padding: 0;
  }

  .description-collapse {
    font-size: 15px;
  }
}
