@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500&display=swap");

.carousel-container {
  display: flex;
  justify-content: center;
  height: 415px;
  padding: 0 50px;
}

.carousel {
  position: relative;

  width: 100%;
  height: 100%;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.item-carousel {
  flex: 0 0 100%;
  height: 415px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  width: 100%;
}

.item-carousel.active {
  opacity: 1;
}

.carousel-pic {
  display: block;
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-number {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

@media only screen and (max-width: 1024px) {
  .carousel-container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-container {
    height: 255px;
    padding: 0 20px;
  }

  .item-carousel {
    height: 255px;
  }

  .left-arrow {
    width: 24px;
  }

  .right-arrow {
    width: 24px;
  }
}
