@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500&display=swap");

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
}

.carousel-pic {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  object-fit: cover;
}

.slider-number {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}
.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left-arrow {
  left: 2%;
}

.right-arrow {
  right: 2%;
}
