@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500&display=swap");

.banner-container {
  display: flex;
  height: 233px;
  margin: 0 auto;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.banner-shadow {
  background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
  border-radius: 20px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.photo-container {
  width: 100%;
  height: 100%;
}

.banner-photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.banner-text {
  position: absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
}

@media only screen and (max-width: 875px) {
  .banner-text {
    font-size: 35px;
  }
}



@media only screen and (max-width: 425px) {
  .banner-text {
    font-size: 22px;
    padding: 30px 102px 32px 15px;
  }
}

@media only screen and (max-width: 380px) {
  .banner-container {
    width: 335px;
    height: 130px;
  }

  .banner-text {
    font-size: 24px;
    width: 217px;
    height: 48px;
  }
}
